html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
    background-color: #333;
}
a{
    text-decoration: none;
    color: white;
}
/* Estilos generales para la barra de navegación */
header{
    background-color: rgba(255, 0, 0, 1);

}
nav {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 40% 10% 20%;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 28px;
}

/* Estilos para el logo */
.logo img {
  height: 50px;
}

/* Estilos para los enlaces de navegación */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffd700;
}

/* Estilos para el icono de carrito de compra */
.cart {
    justify-self: center;
}
.cart i {
  font-size: 34px;
  color: #fff;
  justify-self: end;
}

/* Estilos para el botón de inicio de sesión */
.login a {
  display: inline-block;
  background-color: #ffd700;
  color: #333;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login a:hover {
  background-color: #fff;
  color: #333;
}
.hero{
    margin: 7rem;
}
.container {
    max-width: 1400px;
    margin: 0 auto; /* para centrar el contenedor horizontalmente */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.image-container-up {
    display: grid;
    grid-template-columns: minmax(400px, 1126px) 274px;
    grid-template-rows: 300px 300px;
    gap: 2rem;
}
.image-container-up .image:nth-child(1){
    grid-area: 1 / 1 / 3 / 2 ;
}
.image-container-down{
    display: flex;
    column-gap: 2rem;
}

.image {
  width: 100%; /* para asegurarnos de que las imágenes tengan un tamaño similar */
}

.image img {
    width: 100%; /* para asegurarnos de que las imágenes no se salgan del contenedor padre */
    height: 100%; /* para mantener la relación de aspecto de las imágenes */
    object-fit: cover;
    object-position: top;
}